@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --color-main: #3A4750;
    --color-second:#2185D5;
    --color-hover: #0077C0;
    --color-active:#006bad;
}
/* MAIN */

.main{
    display: flex;
}

.section{
    height: 100%;
    width: 100%;
}

/* EXPAND SECTION */

.expand-section{
    margin-left:200px;
}

@media screen and (max-width: 560px) {
    .expand-section{
        margin-left: 160px;
    } 
}

@media screen and (max-width: 370px) {
    .show-nav ~ .section .expand-section {
        margin-left: 0;
    }   
}
