.search {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 100%;
    transition: margin-left .4s;
    gap: 1rem;
    /* overflow: hidden; */

}

.search .modal-book{
    width: auto;
}

/* SEARCHER */

.search .searcher-container{
    display: flex;
    justify-content: center;
    padding: 5px 10px;

}

.search .searcher-container input {
    width: 90%;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search .searcher-container input:focus,
.search .searcher-container input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.search .searcher-container  input::placeholder {
    color: #777;
}

.search .searcher-container  input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.search .ul-books{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0 1rem 0;   
}

/* GENDERS */

.search .ul-genders{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.search .ul-genders .li-gender{
    background-color: var(--color-main);
    border-radius: 1rem;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;   
}

.search .ul-genders .selected{
    background-color: var(--color-second);
}